// Mixin para fondos 
@mixin full-background($url) {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), 
                url($url) no-repeat center center fixed;
    background-size: cover;
    min-height: 100vh;
}

// Aplicación por clase 
// estilos para index.html y login.html
.bg-home-login {
    @include full-background('../../assets/img/img-animes-juntos.jpg');
}
//estilos para catalogo.html y reproductor.html
.bg-catalog-player {
    @include full-background('../../assets/img/img-fondo-rep-ctalog.jpg');
}