// BOTÓN PRINCIPAL 
.btn-kaiju {
    background: linear-gradient(45deg, $secondary-color, $primary-color);
    color: $text-light;
    border: none;
    padding: 0.8rem 1.5rem;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none; 
    display: inline-block;
    text-align: center;
    transition: all 0.3s ease;

    &:hover {
        background: $accent-color;
        box-shadow: 0 0 15px rgba($accent-color, 0.4);
        transform: translateY(-2px);
    }
}

// Botón secundario
.btn-link {
    color: $text-light;
    text-decoration: none;
    font-size: 0.9rem;
    opacity: 0.7;
    transition: all 0.3s ease;
    display: inline-block;
    padding: 8px 12px;
    border: 1px solid transparent; 

    &:hover {
        opacity: 1;
        color: $accent-color;
        border-bottom: 1px solid $accent-color; 
        transform: translateX(-5px); 
    }
}

//Botón para navegación dentro de las pages
.btn-ghost {
    background: rgba(255, 255, 255, 0.05);
    color: $text-light;
    border: 1px solid rgba($accent-color, 0.4);
    padding: 0.5rem 1.2rem;
    border-radius: 6px;
    font-size: 0.85rem;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    transition: all 0.3s ease;

    &:hover {
        background: rgba($accent-color, 0.2);
        border-color: $accent-color;
        color: $accent-color;
        box-shadow: 0 0 10px rgba($accent-color, 0.2);
    }
}